<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/bundles/massivestyleguide/css/base.css">
    {% block title %}{% endblock %}

    <style>
        {% set frameWidth = frameWidth|default(360) %}

        body {
            min-width: {{ breakpoints|length * (frameWidth + 1) }}px;
        }

        .styleguide-frame {
            width: {{ frameWidth }}px;
        }

        .styleguide-title {
            width: {{ frameWidth }}px;
        }
    </style>
</head>
<body>
    <div class="styleguide">
        <a class="styleguide-download" data-sketch-download>
            <img src="/bundles/massivestyleguide/images/sketch.svg" alt="Sketch">
        </a>

        {% for breakpoint in breakpoints %}
            <div class="styleguide-frame">
                <div class="styleguide-title">
                    <div class="styleguide-title-name">
                        {{- breakpoint.name|capitalize }}
                    </div>
                    <div class="styleguide-title-dimensions">
                        {% if breakpoint.max|default %}{{ breakpoint.max }}px{% else %}∞{% endif %}
                        -
                        {% if breakpoint.min|default %}{{ breakpoint.min }}px{% else %}0{% endif %}
                    </div>
                </div>

                <iframe width="{{ breakpoint.max|default(breakpoint.min) }}px"
                        height="{{ height|default(99999) }}px"
                        src="{{ path(route, { breakpoint: breakpoint }) }}"
                        marginheight="0"
                        marginwidth="0"
                        frameborder="0"
                        scrolling="no">
                    View for "{{ breakpoint.name }}"
                </iframe>
            </div>
        {% endfor %}
    </div>

    <script src="/bundles/massivestyleguide/js/main.js"></script>
</body>
</html>
